<h3>Welcome <%= @user.login %></h3>
<p>Enter your room here: <%= link_to @user.room_name, { :controller => 'rooms', :action => 'show', :id => @user.room_name } %>
<p>Invite guests: <%= mail_to "", "Send Email", :cc => @user.email, :subject => "Join me in my room", :body => "Please join me at " + url_for(:controller => 'rooms', :action => 'show', :id => @user.room_name, :only_path => false) %></p>
